/* main.scss */
@import "bootstrap";
@import "bootstrap/theme";



@media(min-width:0px) {

    .roundedButton {
    background: #5e3cb3;
    height: 40px; 
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    text-align: left;
    font-size: 8px;
    position: relative;
    margin-top: 215px;
    margin-left: 10px;
    }

    .hideit {
        overflow: hidden;
    }

    .roundedButton span {
    margin-top: 15px;
}

label {
    padding-top: 15px;
    font-size: 18px;
}

#map {
    height: 500px;
    padding: 0px;
}

#extTab1 {
    padding-left: 10px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #5e3cb3;
  padding : 5px 15px;
}


#exTab2 h3 {
  color : white;
  background-color: #5e42B0;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #5e42B0;
  padding : 5px 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #5e42B0
}

a {
    color: #5e3cb3;
}

div .btn-primary {
    background-image: linear-gradient(to bottom, #9966ff 0%, #265a88 100%);
    border-color: #245580;
    margin: 90px 0px 0px 70px;
}

#3a .btn {
    margin: 0 auto;
}
.logo {
    height: 17px;
    background-size: contain;
    float: left;
    margin: 5px 5px 0 15px;
}

.logotyp {
    height: 26px;
}

.header {
    height: 600px;
    background-image: url('../../src/img/top-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 37% 0%;
}

.surface {
    position: relative;
    text-align: center;
    display: block;    
    margin: 0 auto;
    margin-top: 30px;
}

.title1 {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    top: 100px;
}

.title2 {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    top: 115px;
    margin-left: 40px;
}

.head-menu {
    color: #5e3cb3;
    word-spacing: 20px;
    text-align: center;
    font-weight: 200;
}

ul.head {
    padding-left: 0px;
    padding-top: 15px;
     li {
        text-align: center;
        list-style-type: none;
        display: inline-block;
        color: #9966ff;
        margin-top: 5px;
        padding-right: 5px;
        }
}

.whiterow {
    background-color: #ffffff;
    height: 300px;
}

.greyrow {
    background-color: #F5F4F9;
    height: 280px;
}

.greytext {
    color: E8E8E8;
    opacity: 0.15;
    font-weight: bold;
    font-size: 50px;
    padding-left: 20px;
}

.playerimg {
    height: 270px;
    position: absolute;
    z-index: 1;
}

.topimg {
      top: 680px;
      left: 80px;
 }

.middleimg {
    height: 240px;
    top: 90px;
    left: 8px;
}

.bluerow {
    height: 205px;
    background-color: #090C35;
}

h2.greytext {
    font-weight: bolder;
    font-size: 25px;
    opacity: 0.4;
    padding-left: 6px;
    display: inline-block;
    margin-top: 70px;
}

 .grey {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 6px solid #5e3cb3;
    border-radius: 2px;
    display: inline-block;
    margin-left: 20px;

} 

.text {
    font-size: 16px;
    margin: 10px 10px;

}
.toptext {
    margin-top: 55px;
    color: #ffffff;
    visibility: hidden;
}

.footer {
    height: 560px;
    background-image: url('../../src/img/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;

    @media(min-width:768px) {
        height: 960px;
    }
}

.ft-lg {
     height: 78px;
     width: auto;
     text-align: center;
     margin-top: 95px;
     @media(min-width:768px) {
         height: 135px;
     }
}

.ft-logotyp {
    height: 120px;    
    margin: 0 auto;
    @media(min-width:768px) {
        height: 280px;
    }
}

.ft-button {
    margin-top: 20px;
    @media(min-width:768px) {
        margin-top: 150px !important;
    }
}

.ft-bar {

    position:absolute;
     bottom: 0px; 
     width: 100%;
    background-color: #0D1335;
    height: 50px;
    opacity: 0.8;

    @media(min-width:768px) {
        height: 93px;
    }
}

.ft-logo {
    margin: 13px 15px 0 0;
    height: 18px;
    @media(min-width:768px) {
        margin: 25px 35px 0 0;
        height: 33px;
    }
}

}

@media(min-width:768px) {
    .roundedButton {
    background: #5e3cb3;
    height: 70px; 
    border-radius: 60px;
    padding: 20px;
    color: #ffffff;
    text-align: left;
    font-size: 13px;
    position: relative;
    margin-left: 10px;
    margin-top: 450px;
    }

    .logo {
    height: 27px;
    background-size: contain;
    float: left;
    margin: 5px 10px 0 25px;
}

    .surface{
            text-align: left;
            margin: 55px auto auto 30px;
        }
    ul.head {
        margin-top: -200px;
        margin-left: 45px;
        }

    .header {
        height: 900px;
        }

    .title1 {
        margin-left: 80px;
        font-size: 48px;
        top: 200px;
    }

    .title2 {
        font-size: 48px;
        top: 200px;
        margin-left: 155px;
    }

    .topimg {
      height: 740px;
      top: 990px;
      left: -190px;
 }

    .middleimg {
    height: 550px;
    top: 30px;
    left: 340px;
}
 

 h2.greytext {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 35px;
}
.grey {
    margin-left: 300px;
}

.greytext {
    font-weight: bold;
    font-size: 70px;
    padding-left: 300px;
    margin-top: 80px;
}

.text {
    font-size: 18px;
}
.athl {
    margin-left: 300px;
}

.players {
    margin-left: 20px;
    .greytext{
        padding-left: 5px;
    }
    .grey {
        margin-left: 20px;
    }
    .text {
        padding-right: 350px;
    }
}

.growth {
    margin-top: 0px;
    color: #C1C1F1;
    .greytext{
        opacity: 1;
    }
    .text {
        color: white;
    }
    .grey {
         border-bottom: 6px solid #ffffff;
         color: #000000;
    }
}

.growth.players {
    .grey {
        color: #9966ff;
    }
}


.whiterow {
    height: 350px;
}

.greyrow {
    height: 230px;
}

.purplerow {
    background-color: #5e42B0;
    height: 205px;
}
.toptext {
    font-size: 15px;
    padding-left: 70px; 
    visibility: visible;

    @media(min-width:1200px) {
    padding-left: 200px;
    }
    
}


 }

 @media(min-width:1200px) {

    .roundedButton {
    height: 70px; 
    border-radius: 60px;
    padding: 16px;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 450px;
    }

    .logo {
    height: 32px;
    background-size: contain;
    float: left;
    margin: 0px 15px 0 30px;
}

    .surface{
            text-align: left;
            margin: 55px auto auto 30px;
        }
    ul.head {
        margin-top: -350px;
        margin-left: 80px;
        }

    .header {
        height: 960px;
        }

    .title1 {
        margin-left: 180px;
        font-size: 60px;
        top: 200px;
    }

    .title2 {
        width: 65%;
        font-size: 60px;
        top: 200px;
        margin-left: 420px;
    }

    .topimg {
      height: 970px;
      top: 990px;
      left: 320px;
 }

.athl {
    margin-left: 1100px;
}

.grey {
    margin-left: 1100px;
}


 h2.greytext {
    font-weight: bolder;
    font-size: 35px;
    margin-top: 70px;
}

.greytext {
    font-weight: bold;
    font-size: 90px;
    padding-left: 1100px;
    margin-top: 80px;
}

.whiterow {
    height: 405px;
}

.greyrow {
    height: 264px;
}

.purplerow {
    height: 295px;
}

.toptext{ 
    visibility: visible;
}
#hockey {
    width: 9.4%;
}

.text {
    font-size: 25px;
}

.middleimg {
    top: 0px;
    left: 800px;
    height: 800px;
}

.whiterow.players {
    height: 445px;
}

.bluerow {
    height: 265px;
}

 }